{% extends 'layout.twig' %}
{% block head %}
    <title>Changement de mot de passe !</title>
{% endblock %}
{% block content %}
    <form method="POST">
        <div class="form-group">
            <div class="form-group offset-4 col-5 text-center">
                <p class="lead">{{ username.question }}</p>
                <label for="answer">Réponse</label>
                <textarea  class="form-control" id="answer" name="answer"></textarea>
                <div class="row">
                    <button type="submit" class="offset-5 col-2 p-2 btn btn-primary">Envoyer</button>
                </div>
                <div class="offset-5 col-4">
                    <p class="lead" style="color: red;">{{ message }}</p>
                </div>
            </div>
        </div>
    </form>
{% endblock %}