{% extends 'layout.twig' %}
{% block head %}
    <title>Changement de mot de passe !</title>
{% endblock %}
{% block content %}
    <form method="POST">
        <div class="form-group row">
            <div class="form-group offset-4 col-5 text-center">
                <label for="username">Pseudo</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Pseudo">
                <div class="row">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
                <div class="col-12">
                    <p class="lead" style="color: red;">{{ message }}</p>
                </div>
            </div>
        </div>
    </form>
{% endblock %}